.boutique__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}

.text__boutique {
  margin-bottom: 50px;
}

.link__button-text {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #ffa8f3;
  border: none;
  color: whitesmoke;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.link__button-text:hover {
  background-color: whitesmoke;
  color: #ffa8f3;
}

/* Media queries pour différentes tailles d'écran */
@media screen and (max-width: 1200px) {
  .boutique__container {
    margin-top: 150px;
  }
}

@media screen and (max-width: 992px) {
  .boutique__container {
    margin-top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .boutique__container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 576px) {
  .boutique__container {
    margin-top: 80px;
  }

  .text__boutique {
    font-size: 1.2rem;
  }

  .link__button-text {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 280px) {
  #portfolio {
    margin-left: 45px !important;
  }
}
