section {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 130px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}
.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(whitesmoke 50%, #ffa8f3 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
  text-transform: uppercase;
}
p {
  color: #575a7b;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.section-heading {
  color: #ebc764;
  margin-bottom: 50px;
  font-size: 58px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Merriweather Sans", sans-serif;
}

.icon-wrapper {
  background-color: transparent;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
  font-family: "FontAwesome";
}
.icon-wrapper i {
  font-family: "FontAwesome";
}
.card:hover {
  background-position: 0 100%;
}
.card:hover .icon-wrapper {
  background-color: transparent;
  color: #ffa8f3;
}
.card:hover h3 {
  color: #ffffff;
}
.card:hover p {
  color: #f0f0f0;
}

.icon__services-loisir {
  width: 10px;
}

#two {
  margin-right: 230px;
}

.card__wrapper-spacing {
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  #two {
    margin-right: 150px;
  }
}

@media screen and (max-width: 992px) {
  #two {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }
  .column {
    flex: 0 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }
  .column {
    flex: 0 0 33.33%;
  }
}

@media screen and (max-width: 480px) {
  .section-heading {
    font-size: 48px;
  }
}
